[Desktop Entry]
Type=Application
Name=Archaic
Icon=org.archaic.desktop
StartupWMClass=org.archaic.desktop
Comment=Native Matrix desktop client
Exec=archaic %u
TryExec=archaic
Terminal=false
Categories=Network;InstantMessaging;
MimeType=x-scheme-handler/matrix;
StartupNotify=true
